Package: com.bandarhl.bhinsta
Name: BHInsta
Version: 0.0.3
Architecture: iphoneos-arm
Description: An (even more) awesome tweak for Instagram!
Maintainer: SoCuul
Author: Bandar Alruwaili
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
